body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #808080;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    width: 100%;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .grid-item {
        width: calc(50% - 20px);
    }
}

@media (min-width: 1200px) {
    .grid-item {
        width: calc(25% - 20px);
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.image {
    width: 100%;
    height: auto;
    display: block;
}

.custom-play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.55);
    padding: 10px 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px);
    transition: 0.2s ease;
    border: 1px solid #fff;
}

.custom-play-button i {
    font-size: 22px;
    color: #fff;
}

.play-icon {
    width: 100%;
    height: 100%;
}

.download-button {
    display: block;
    text-align: center;
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
}

.download-button:hover {
    background-color: #F40202;
    color: white;
    cursor: pointer;
}

.live-icon {
    width: 35px;
    height: 16px;
    border-radius: 15%;
    background-color: red;
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}